:root {
  --compare-select-height: 30px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
}

.active {
  color: #3f3f3f;
}

/* HEADER */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 10px 20px;
  background-color: #333;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px;
}

/* BODY */
.search-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 2rem;
}

/* Searchbar */
.searchbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.searchbar {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Buttons */
.sort {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  height: 100%;
  padding: 10px;
  background-color: #818181;
  border-radius: 5px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.sort-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.alphabetc-btn {
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.categories-select {
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

/* Coffe list */
.coffee-list {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 20px;
}

.coffee-card {
  background-color: #575757;
  border-radius: 10px;
  padding: 20px;
  width: 25%;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coffee-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.card-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-body {
  padding: 10px;
}

.card-body h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.title-category {
  font-size: 1rem;
  margin-bottom: 10px;
}

/* COFFEE DETAILS */
.coffee-details-page {
  height: 100vh;
  background-color: #797979;
}

.coffee-details-container {  
  padding-top: 3rem;  
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.coffee-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 80%;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.coffee-details h1 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
}

.coffee-details img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.coffee-details-card {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.coffee-details-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 3rem;
  color: black;
}

.coffee-details-body p {
  margin-bottom: 8px;
  color: #555;
  font-size: 0.9rem;
}

.loading-message {
  padding: 10px;
  color: #777;
}

.coffee-profile {
  display: flex;
  flex-direction: column;
}

.taste {
  margin-bottom: 2rem;
  font-size: 0.9rem;
}

.taste p {
  display: inline;
}

/* Compare */
.coffee-details-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.compare-btn {
  background-color: #834812;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 10rem;
  font-size: 1.2rem;
}

.compare-btn:hover {
  background-color: #6a3b0f;
  transition: background-color 0.3s;
}

.compare {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.compare-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f4f4f4;
  width: 80%;
  border-radius: 10px;
}

.compare-container h2 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.compare-select {
  background-color: #333;
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.compare-area {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.spacing {
  height: var(--compare-select-height)
}

.other-coffee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.compared-coffee {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.compared-coffee .taste {
  margin-bottom: 1rem;
}
