:root {
  --compare-select-height: 30px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
}

.active {
  color: #333333;
}

body {
  background-color: #ffeddc;
}

/* HEADER */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 10px 20px;
  background-color: #a0522d;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 1.2rem;
}

.nav-link:hover {
  background-color: #6a3b0f;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar div:hover {
  background-color: #6a3b0f;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.favourites-count {
  background-color: #16bb00;
  color: white;
  border-radius: 50%;
  padding: 0.1rem 0.45rem;
}

/* BODY */
/* modal */
.favourites-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.modal-content {
  width: 80%;
  background-color: #fde9dc;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
}

.modal-content h1 {
  color: #6a3b0f;
}

.fav-infos {
  display: flex;
  gap: 1rem;
}

.close-btn {
  background-color: #a0522d;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.close-btn:hover {
  background-color: #6a3b0f;
  transition: background-color 0.3s;
}

.modal-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.fav-card {
  background-color: #fff7ef;
  width: 13rem;
  min-height: 8.5rem;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.fav-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  background-color: #f4f4f4;
}

.fav-card a {
  color: #a0522d;
}

.fav-card a:hover {
  text-decoration: underline;
}

.fav-card h3 {
  margin-bottom: 10px;
}

.remove-btn {
  background-color: #a0522d;
  color: white;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.remove-btn:hover {
  background-color: #6a3b0f;
  transition: background-color 0.3s;
}

/* Searchbar */
.search-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.searchbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.searchbar-container h3 {
  color: #6a3b0f;
}

.searchbar {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #a0522d;
  background-color: #fffcf7;
}

/* Buttons */
.sort {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  height: 100%;
  border-radius: 5px;
  color: white;
}

.sort-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.alphabetc-btn {
  background-color: #a0522d ;
  color: white;
  padding: 8px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.alphabetc-btn:hover {
  background-color: #6a3b0f;
  transition: background-color 0.3s;
  cursor: pointer;
}

.categories-select {
  background-color: #a0522d ;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: #68351e;
}

.categories-select:hover {
  background-color: #6a3b0f;
  transition: background-color 0.3s;
  cursor: pointer;
}

.reset {
  background-color: #a0522d ;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.reset:hover {
  background-color: #6a3b0f;
  transition: background-color 0.3s;
  cursor: pointer;
}

/* Coffe list */
.coffee-list-container {
  padding-top: 2rem;
}

.coffee-list {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 20px;
}

.coffee-card {
  background-color: #fff7ef;
  border-radius: 10px;
  padding: 20px;
  width: 25%;
  height: 12rem;
  text-align: center;
  color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.coffee-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
  cursor: pointer;
  background-color: #f4f4f4;
}

.card-body {
  padding: 10px;
}

.card-body h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #a0522d
}

.card-body h2:hover {
  text-decoration: underline;
  color: #6a3b0f;
}

.title-category {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #666666;
}

.favourites-btn {
  background-color: #ffffff00;
  color: #a0522d;
  border-radius: 5px;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* COFFEE DETAILS */
.coffee-details-page {
  background-color: #ffeddc;
  height: 100vh;
}

.coffee-details-container {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.coffee-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 80%;
  padding: 20px;
  background-color: #fff7ef;
  color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.coffee-details h1 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #a0522d;
  font-size: 2.5rem;
}

.coffee-details img {
  width: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.coffee-details-card {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.coffee-details-body {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 3rem;
  color: black;
}

.description-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  font-size: 1rem;
}

.description-container strong {
  color: #68351e;
}

.coffee-details-body p {
  margin-bottom: 8px;
}

.loading-message {
  padding: 10px;
}

.coffee-profile {
  display: flex;
  flex-direction: column;
}

.coffee-profile strong {
  color: #68351e;
}

.taste {
  margin-bottom: 2rem;
}

.taste p {
  display: inline;
}

.taste strong {
  color: #68351e;
}

.price {
  font-size: 1.5rem;
  color: #a0522d;
}

.coffee-details button {
  background-color: #ffffff00;
  color: #834812;
  font-size: 2rem;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* Compare */
.coffee-details-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.compare-btn {
  background-color: #834812;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  width: 10rem;
  font-size: 1.2rem;
}

.compare-btn:hover {
  background-color: #6a3b0f;
  transition: background-color 0.3s;
}

.compare {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.compare-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #fff7ef;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.compare-container h1 {
  text-align: center;
  font-size: 2.3rem;
  color: #6a3b0f;
}

.compare-container h3 {
  color: #6a3b0f;
}

.compare-select {
  background-color: #6a3b0f;
  border: #6a3b0f;
  color: white;
  padding: 5px;
  border-radius: 5px;
  font-size: 1rem;
}

.compare-area {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

.spacing {
  height: var(--compare-select-height)
}

.other-coffee, .actual-coffee {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
}

.compared-coffee {
  width: 30rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: #fdeddc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.coffee-description, .coffee-profile {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.actual-coffee h3:hover {
  text-decoration: none;
}

.compared-coffee h3 {
  font-size: 1.5rem;
  color: #a0522d;
  display: inline;
  margin-right: 0.5rem;
}

.other-coffee h3:hover {
  text-decoration: underline;
}

.compared-coffee strong {
  color: #68351e;
}

.compared-coffee .taste {
  margin: 1rem 0 1.3rem 0;
}

.comapared-price strong {
  font-size: 1.1rem;
  color: #a0522d;
}




@media screen and (max-width: 1332px) {
  .coffee-details .coffee-profile p {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1225px) {
  .description-container {
    gap: 2.5rem
  }

  .coffee-details-card {
    gap: 2rem;
  }
}